[user]
	name = Mauricio Burgos Herrera
	email = mburgosherrera@gmail.com
[color]
        ui=auto
[alias] 
        tree = "!. ~/.githelpers && pretty_git_log"
	t = !git tree
	ta = !git tree --all
	r = !git t -30
	tr = !git t -30
	hp = "!. ~/.githelpers && show_git_head"

	#short command = long command
	uncommit = reset --soft HEAD^
[core]
	excludesfile = ~/.gitignore
[push]
	default = current
